@import "components/base";

//@extend
// Place holder guardar bloque de estilo
// sole exitende un nivel de botones
%span{
    color: red;
    margin: 0;

}
%button{
    display: inline-block;
    margin: 1em 0;
    padding: .5em 1.5em;
    margin: 0;

    span{
        @extend %span;
      }
}

.button{
    @extend %button;
}

.button-alert{
    @extend %span;
    background: red;
    color: #fff;
}

.button:hover{
    transform: translateY(-5px);
}

.button.active{
    @extend .button:hover;
}


//Condicionales Scss

$dev: false !default;

$dev : true;
@if 5 < 3{
    *{
        outline: 1px solid red;
    }
}@else if 3 < 5 and 1 == 1{
    *{
        display: block;
    }
}@else if (3 == 5) or (1 == 1){
    *{
        display: block;
    }
}@else{
    *{
        color: green;
    }
}

// Importaciones

$buttons: true !default;
$colors: true !default;

$buttons: false;

@import "components/buttons";
@import "components/colors";


//Iteraciones
@for $i from 1 through 20{
    @if $i > 5{
        .column-#{$i * 5}{
            width:$i * 5%;
        }
    }
}
$colors: red green blue ;

@each $color in $colors{
    .button-#{$color}{
        background: $color;
    }
}

$colors: (
    primary: red,
    secondary: green,
    tertiary: blue
);

$brakpoints:(
    small: 360px,
    medium: 640px,
    large: 1024px,
    xlarge: 1400px
);

@each $key, $value in $colors{
    .button-#{$key}{
        background: $value;
    }
}
