// Las funciones tiene como objetivo engreganos un valor

// selector{
//     propiedad:valor;
// }

@import "config/functions";
@import "config/variables";

body{
    font-size: double(10px);
    font-size: em(20px);
    background:img('imagen.jpg');
}

/*
    Funciones de strings
    quote($string) agrega comillas a un string
    unquote($string) quita las comillas a un string
    str-length($string)
    str-index($string, $value) un valor dentro del string
    str-lenght($string) cantidad de caracteres
*/

$width: 1px;
$style: solid;
$color: red;

$colors:(
    primary: yellow,
);

body{
    border:unquote( $width + ' '+ $style + ' ' +  $color);
    &::before{
        content: quote($style);
    }
    color: str-index($style, "i");
    background: to-upper-case($style);
    color:map-get($colors, primary);
}

// Funciones de numeros
//  percentage ($number) nos devuelve el numero en porcentaje
// floor(54.9) nos devuelve el numero entero mas cercano hacia abajo
// ceil(54.1) nos devuelve el numero entero mas cercano hacia arriba
// max($number1, $number2) nos devuelve el mayor de una lista de numeros
// min($number1, $number2) nos devuelve el menor de una lista de numeros

@function columns($columns, $total-columns){
    @return percentage($columns / $total-columns)
};

// @for $i from 1 through 12{
//     .cols-#{$i}{
//         width: columns($i, 12);
//     }
// }

body{
    width:columns(4, 12);
    width: round(54.5px);
    width: random(15);
}



// Funciones de listas y mapas
// nth($list, n) nos devuelve el valor de la posicion n de la lista
// index ($list, $value) el indice de un valor en la lista
// join($list1,$list2,$list3,separador: space)
// append($list,$value,$separador: space | comma)


//Mapas
//map-get($map,$key)
//map-keys($map)
//map-values($map)
//map-has-key($map,$key)
//map-merge($map1,$map2)


$color: red;

$border: 1px solid red;
$border2:1px dotted green;

$colors:(
    primary: green,
    secondary: blue,
    tertiary: red,
);

@function color($color-key){
    @if map-has-key($map: $colors, $key: $color-key){
        @return map-get($colors,$color-key);
    }
    @return null;
}

div{
    border-color: nth($border, 3);
    // border-color: index($border, red);
    // border-color: join($border, $border2);
    // border: append(1px solid,$color);
    // border-color: map-get($colors,primary);
    border-color:color(tertiary);
}

// Funciones de introspeccion
//inspect() es como un console.log
//type-of($value)  typo de dato
//unit($number) unidad de un numero como string
//unitless() --> devuelve true si el numero no tiene unidad
//mixin-exists($mixin-name)
//function-exists(function)
//variable-exists($variable)
//global-variable-exists($variable)

@mixin button{
    color: red;
}

@if mixin-exists(button){
    div{
        background: red;
    }
}

$colors:(
    primary: green,
    secondary: blue,
);

span{
    // color:inspect($colors);
    // color:unit(10px);
    color:unitless(10);
}

