@mixin button($color){
   @if $buttons{
    .button{
        display: inline-block;
        margin: 1rem;
        color: $color;
            a{
            text-decoration: none;
            }
        }
   }
}