@mixin button($colors...){
   @if $buttons{
    .button{
        display: inline-block;
        margin: 1rem;
        color: map-get($button-colors, primary);
        a{
            text-decoration: none;
        }

        @if length($colors) > 1{
            @for $i from 2 through length($colors){
                &.#{nth($colors, $i)}{
                    color: map-get($button-colors, nth($colors, $i));
                }
            }
        }
    }
   }
}

// @mixin menu($selector-item: '.menu-item', $selector-link: '.menu-link'){
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-left: 0;
//     list-style: none;

//     #{$selector-item}{
//         display: block;
//     }

//     #{$selector-link}{
//         text-decoration: none;
//         display: block;
//     }
// }

@mixin menu{
    color: red;
    display: block;

    @media screen and (min-width: 1024px){
        @content;
    }
}

@mixin mq($breakpoint){
   @if map-has-key($breakpoints, $breakpoint){
    @media screen and (min-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
   };
}