// Modos de color cmyk y rgb
// Color sustrativo (pinturas) la luz se sustrae se resta
    // cyan, magenta , amarillo , black (CMYK)
// Color aditivo (pantallas) se aumenta luz pantallas
    // red, green, blue (rgb)
// 256,256,256 == 2*8, 2*8, 2*8  = 16M colores = profundidad de color de 24bits
// 23,200,146
// hue, saturation, lighten (HSL)
// hue => tono de color (de 0 a 360 grados)
// saturacion => intensidad del calor de gris a color (de 0 a 100%)
// Lighten => la cantidad de luz (0% da negro, 100% da blanco, el color puro es 50%)


$base-color: rgb(193, 127, 161);
$text-color-light: #fff;
$text-color-dark: #222;

@function color-text(){
    @if lightness($base-color) > 50{
        @return $text-color-dark;
    } @else{
        @return $text-color-light;
    }
}

body{
    // $color: rgb(14, 28, 94);
    // background: hsl(330, 100, 35);
    // red:red(hsl(330, 100, 35));
    // h:hue($color);
    // s:saturation($color);
    // l:lightness($color);
    background: $base-color;
    color: color-text();
}

body{
    $color: red;
    background: adjust-hue($color, 30);
}


//Notacion hexadecimal y circulocromatico
// #RRGGBB
// 0123456789ABCDEF

//HUE
// 0/360 => red
// 60 => yellow
// 120 => green
// 180 => cyan
// 240 => blue
// 300 => magenta

/* Funciones Sass para color

RGB
Retoran el color de red , green , blue de un color
    red($color) el red de un color
    green($color) el green de un color
    blue($color) el blue de un color

HSL
    hue($color) el tono de un color
    saturation($color) la saturacion de un color
    lightness($color) la luminosidad de un color

    darken($color, cantidad) canal de luz
    lihten($color, cantidad) canal de luz
    dsesaturate($color, cantidad) canal de saturacion
    adjust-hue($color, cantidad) canal de tono

*/