body {
  background-color: red; }

.text {
  text-shadow: 1px 1px #cc0000, 2px 2px #cc0000, 3px 3px #cc0000, 4px 4px #cc0000, 5px 5px #cc0000, 6px 6px #cc0000, 7px 7px #cc0000, 8px 8px #cc0000, 9px 9px #cc0000, 10px 10px #cc0000;
  font-size: 2em; }
