// $color: 60;
// body{
//     background-color: hsl($color, 100, 100);
// }
$colors:hsl(0,100,50);
@for $i from 1 through 100{
    $colors: append($colors, hsl($i, 100, 50), comma)
}

body{
    background: radial-gradient(circle at center, $colors);
    min-height: 100vh;
}