//Opciones de compilacion
//node-sass --watch scss --output css
//node-sass scss --o css


@import "base/base";

body{
    color : red;
    p{
        display: inline-block;
    }
}

p{
    color: green;
}

//Debugging con
//Mandan informacion a la terminal ya no ensucian el css
//@debug
// @warn
// @error


@import "base/base";
$size:1em;
$colors: yellow green blue;

body{
    @debug type-of($size);
    @debug $size;
    @debug type-of($value: $colors);
}

@mixin button {
    color:red;
    @warn 'El boton rojo desparecera en la proxima version porfavor use button-new en su lugar';
}

@mixin button-new($color){
    @if type-og($color) == color {
        color: $color
    }@else{
        @error 'El parametro #{color} no es valido. Use un tipo de dato color';
    }
    color:$color;
}

.button{
    @include button-new(yellow);
}




//Estrucutra de proyecto

//SMACSS
//base (etiquetas HTML)
//modules (componentes reutilizables)
//layout (geometria y posicion)
//theme  (tipografia y color, identidad visual de la marca)
//estado (elementos que cambian)


//ITCSS
// Settings
// Tools
// Generic
// Elements
// Objects
// Components
// Untilities


//7IN1
//base
//components
// layout
// layout
// pages
// themes
// utils
// vendors